.MMM-HKO {
	font-size: 16px !important;
	line-height: 1.4 !important;
}

.MMM-HKO .position {
	width: 25px;
}

.MMM-HKO .introSituation{
	text-align: left;
}

.MMM-HKO .headerTableHeaderRow{
	text-align: left;
	border-top: 1px solid var(--color-text-dimmed);
}

.MMM-HKO th {
	text-align: center;
	border-top: 1px solid var(--color-text-dimmed);
}

.MMM-HKO .footer {
	text-align: right;
	font-size: small;
	border-top: 1px solid var(--color-text-dimmed);
}
